:root {
  --surface-color: #fff;
  --curve: 40;
}
html {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color:#F5F3F4;
    margin: 0;
    padding: 0;
    height: 100%;
}
.content-container {
    height: 100%;
}