{% extends "base.html" %}

{% block title %}
    <title>
        Index
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
{% endblock %}

{% block style %}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/people_table.css') }}">#}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div id="current-time">Время: </div>
    <div id="weather">
        <h2>Погода</h2>
        <div id="today-weather"></div>
        <div id="tomorrow-weather"></div>
    </div>
    <div id="tasks">
        <h2>Список дел</h2>
        <ul id="task-list"></ul>
    </div>
    <div id="birthdays">
        <h2>Дни рождения</h2>
        <ul id="birthday-list"></ul>
    </div>
    <div id="holidays">
        <h2>Праздники</h2>
        <ul id="holiday-list"></ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}